{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">Let us hear your mind</h5>
        <div class="card-body">
            <p class="card-text">Write everything you want to publish on this blog. Fill the form, wait for administrator`s approvment and look for your article in the last news!</p>
            <a href="{% url 'blog:post_create' %}"
            class="btn btn-danger">Write article!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}